body {
  font-family: 'Open Sans', sans-serif;
  background-color: grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  height: 100px;
  margin: 0 auto;
  background-color: darkgrey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2{
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

control {
  margin: 10px auto;
}

content {
  margin: 10px auto;
}

.card {
  border: 2px solid black;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.card h4 {
  font-size: 1.2em;
  margin: 5px 0;
}

.card input {
  margin: 5px;
  display: inline;
}

.card button {
  margin: 5px;
}

#packing-list {
  width: 100%;
}